var CLOUD_FILE = 'cloud://prod-d7gnz9s0j20275c05.7072-prod-d7gnz9s0j20275c05-1492159324/mock'

function url(src) {
  if (!src) return src
  if (src.indexOf('cloud://') === 0) return src
  var parts = src.split('?')[0].split('/')
  var name = parts[parts.length - 1]
  if (name.indexOf('.') < 0) return src
  return CLOUD_FILE + '/' + name
}

module.exports.url = url